input, textarea, select {
  outline: none;
  padding: 16px 32px;
  background: #FFFFFF;
  border: 1px solid $primary;
  border-radius: $border-radius-primary;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  &[type="checkbox"] {
    width: 32px;
    height: 32px;
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

label {
  position: relative;
}
