$primary: #2079FF;
$primary-hover: #2648FF;
$primary-active: #2079FF;



$text: #000000;
$text-secondary: #CDCDCD;



$bg-color: #FFFFFF;
$border-radius-primary: 10px;
$border-radius-secondary: 30px;

$page-content: 1400px;

$link-hover: #003850;
